body{
    font-family: 'Montserrat',sans-serif;
    background: linear-gradient(white,#fcce1784);
    /* color : #1c1f4c; */
}


/* navbar */
#navigationbar{
    background-color: rgba(255, 255, 255, 0);

}


.navbar{
    padding:1.5rem 2rem 1rem 3rem;

}

.navbar-brand{
    font-family: 'Montserrat',sans-serif;
    font-weight:700;
    font-size:2rem;
    padding:1rem 1rem 1rem 1rem;
}

.nav-item{
    margin-left:2.5rem;
    
    /* padding:1rem 0 0 0; */
    
} 

.nav-link:hover{
    background-color: #00848c;
    color : white;
}

.nav-link{
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;
    border-radius: 100px;
}


/* title*/
#title{
    padding: 5% 10%;
    text-align: left;
    
}

.title-image{
    width:35%;
        /* transform: rotate(25deg); */
        position: absolute;
        right:15%; 
        bottom: 2%;
    }

h1{
    font-family: 'Montserrat', sans-serif;
    font-size:3.3rem;
    line-height: 1.5;
     font-weight: 900; 
     color: #037272;
}

.contact-button{
    margin: 5% 3% 5% 0;
   
}

.scroll-button{
    background-color: rgba(255, 255, 255, 0);
   margin: 2.5% 3% 5% 0;
   font-weight: 500;
}

/* cards section */

#linkcards{
    margin-top:5rem;
    text-align: center;
    
    
}

/* .card-body{
    background-color: #fff;
} */

.card{
    border-radius: 20px;
}

.card-item{
    padding:3% 2%;
}


h5{
    font-weight: 600;
    margin-left: 0%;
}

.leavebutton{
    border-radius:100px;
    background-color: #1c1f4c;
}


/* footer */


#footer{
    /* text-align: center; */
    padding:3% 0 0% 0;
    /* line-height: ;    */
    background-color: rgba(255, 255, 255, 0.377);
}

.footermaincontent{
    margin-bottom: 10px;
    margin-top: 20px;
}

.footerlist li{
    margin-top: 10px;
}

a{
    text-decoration: none;
    color :#1c1f4c;
}
a:hover {
    color :#037272;
}

#team h5{
    text-align: center;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bolder;
}



@media (max-width:1035px){

    #title{
      text-align: center;
    }
  
    .title-image{
      position:static;
      transform: rotate(0);
      width:80%;
    }

    .scroll-button{
       visibility:hidden
    }

    #linkcards{
        margin-top: 2rem;
    }
  
  }