@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color: #edebd9; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #1c1f4c;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: #037272; */
    background: linear-gradient(white,#037272);
}

.box {
    width: 400px;
    height: 60vh;
    /* border-radius: 10px; */
    background-color: #edebd900;
    padding: 5px 10px;
    /* display :flex;
    justify-content: center; */
    margin-bottom: 8em;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

img {
    margin: 10px auto;
}

label {
    display: block;
    margin: 5px 0px;
    font-weight: 500;
}

input {
    width: 99%;
    /* border-radius: 10px; */
    height: 35px;
    /* padding : 8px 5px; */
    margin-bottom: 10px;
}

#submit {
    width: 100%;
    background-color: #1c1f4c;
    height: 35px;
    border: 1px solid #1c1f4c;
    font-weight: 500;
    color: white;
    margin-bottom: 20px 0;
    text-transform: uppercase;
}

.email,
.pwd {
    margin: 10px 0;

}

p {
    font-size: 15px;
    text-align: center;
    margin: 20px 0;

}

a{
    cursor: pointer;
    font-weight: 500;
}
.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #03727200;
}
